<div class="selection">
    <input type="text" id="" value={{date-formatter date=updated}}>
</div>

<div class="empty">
    <h1></h1>
</div>
<div class="calendar-gui">
    <div class="resized">
        <PowerCalendar class="demo-calendar-big"
        @selected={{selected}}
        @center={{center}}
        @onSelect={{action (mut updated) value="date"}} @onCenterChange={{action (mut center) value="date"}} as |calendar|>
        <calendar.Nav/>
        <calendar.Days/>
</PowerCalendar>

    </div>

</div>

